*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;

     font-family: "JetBrains Mono";
}
body{
     margin: 0;
     padding: 0;
     background-color: #323639;
     color: lightgray;
     height: 100vh;
     width: 100vw;

     display: flex;
     justify-content: center;
}

.divContainer{
     text-align: center;
     display: flex;
     flex-direction: column;
     width: 320px;
     margin-top: 18px;
}


h2{
     color: white;
     margin-bottom: 44px;
}

/* ================ input e button =============  */
.divInputAndButton{
     box-sizing: border-box;
     height: 41px;
     display: flex;
     justify-content: center;
     padding-left:  0px 20px;
     margin-bottom: 33px;
}

.divInputAndButton > .nomePersonagemInput {
     height: 100%;
     width: 207px;
     background-color: #464646;
     border-radius: 22px;
     font-size: 12px;
     border: none;
     margin-right: 13px;
}

.searchButton{
     width: 57px;
     height: 100%;
     border-radius: 14px;
     border: none;
     background-color: #2EB772;
     color: black;
     font-size: 12px;
     align-self: flex-end;
}

/* cards */
.divCards{
     width: 100%;
v
     margin-top: 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
}


.card {
     position: relative;
     box-sizing: border-box;
     
     display: flex;
     flex-direction: column;
     align-items: center;

     height: 140px;
     width: 119px;
     border: 1px solid #198754;
     border-radius: 14px 14px 6px 6px;
     background-color: #464646;
}


.card > img {
     width: 100%;
     height: 83%;
     position: absolute;
     top: 0px;
     border-radius: 14px 14px 6px 6px;

     width: 100%;

     position: absolute;
     top: 0px;
}

.aliveCard{
     z-index: 1;
     color: white;
     background-color: #198754;
     border-radius: 15px 15px;
     border: 2px solid #198754;
     width: 37px;
     height: 11px;
     font-size: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 4px;
     right: 4px;
}

.nomePersonagemCard{
     color: white;
     z-index: 1;
     font-size: 9px;
     position: absolute;
     bottom: 4px;
}